body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #85726a;
  color: black;
  font-family: 'Roboto Mono', monospace;
  align-content: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.content {
  display: flex;
  flex-direction: column;
  place-content: center flex-start;
}

.text-area, button {
  border-radius: 5px;
}

button {
  box-shadow: 0ch;
  border: none;
}

.text-area {
  max-width: 100%;
}

.lists {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.list {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  width: 75vw;
  margin: auto;
  margin-top: 1vh;
  box-shadow: inset 0px 0px 14px -5px rgba(0, 0, 0, 0.40)
}

.list-header {
  text-align: center;
}

h1 {
  font-size: 1em;
}

.Todo {
  background-color: #e7b598
}

  {
  display: none;
}

.InProgress {
  background-color: #d4846c
}

.Done {
  background-color: #969fa5
}

.Todo .note .backward.progress.action, .Done .note .forward.progress.action, .note.form .archive.action, .submitForm {
  display: none;
}

.note {
  display: flex;
  flex-direction: column;
  text-align: left;
  background-color: white;
  border-radius: 5px;
  margin: 0.5em;
  padding: 0.5em;
}

.note:hover {
  box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.70)
}

.note p {
  margin: auto;
  width: 100%;
  overflow-wrap: break-word;
}

.actionsBar {
  display: flex;
  align-self: center;
  text-align: center;
}

.action {
  height: 0.1em;
  width: 0.5em;
  margin: 1em;
  font-weight: 900;
  cursor: pointer;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  outline: inherit;
}

.form button {
  display: initial;
  line-height: 1.1em;
  margin: 1em;
  font-size: 1.1em;
}

.archive.action {
  line-height: 1.25em;
  font-weight: 600;
}

.action:hover {
  color: #33A1DE;
}

@media (orientation: landscape) {
  .content {
    height: 100vh;
  }
  .lists {
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;
    width: 70vw;
  }
  .list {
    margin: 1vh;
    height: fit-content;
    max-height: 100%;
    width: 30vw;
  }
  .notes {
    flex: 1;
    overflow-y: auto;
  }
}